NEXT_PUBLIC_WHATSAPP_NUMBER=+33774514389

# SMTP Configuration
SMTP_HOST=mail.eventiafinance.com
SMTP_PORT=465
SMTP_USER=contact@eventiafinance.com
SMTP_PASS=your_smtp_password_here
SMTP_TO=info@eventiafinance.com
